<div id="<%= dom_id creature %>">
  <p>
    <strong>Name:</strong>
    <%= creature.name %>
  </p>

  <p>
    <strong>Ac:</strong>
    <%= creature.ac %>
  </p>

  <p>
    <strong>Hp:</strong>
    <%= creature.hp %>
  </p>

</div>
